apiVersion: v1
kind: ServiceAccount
metadata:
  name: 'vaw-example'
  namespace: NAMESPACE

---

apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: 'vaw-example'
subjects:
  - kind: ServiceAccount
    name: 'vaw-example'
    namespace: NAMESPACE
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
